{% extends "base.html" %}

{% block content %}

<h1>Mes voyages ✈️</h1>

<!-- 🔍 FORMULAIRE RECHERCHE -->
<form method="POST" action="/recommandations">

  <input type="number" name="budget_total" required min="1">
  <input type="number" name="nombre_jours" placeholder="Nombre de jours" min="1" required>


  <select name="type">
    <option value="">Type</option>
    <option value="plage">Plage</option>
    <option value="ville">Ville</option>
    <option value="montagne">Montagne</option>
  </select>

  <select name="meteo">
    <option value="">Météo</option>
    <option value="soleil">Soleil</option>
    <option value="tempéré">Tempéré</option>
    <option value="froid">Froid</option>
  </select>

  <button type="submit">Rechercher</button>

</form>

<hr>

<p>Aucun résultat pour l'instant</p>

{% endblock %}
